.login-content {
  background-color: white;
  width: 300px;
  margin: 0 auto;
  padding: 2rem;
}

.sign-in-icon {
  font-size: 5rem;
}

.login-content h1{
  margin-bottom: 1rem;
}

.input-login-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
  
}

.input-login-wrapper label {
  font-weight: bold;
}

.input-login-wrapper input {
  padding: 3px;
  font-size: 1.2rem;
  border: 1.5px solid rgb(176, 172, 172);
  width: 100%;
  font-size: 14px;
    line-height: 20px;
    height: 48px;
    border: 1.8px solid #adadad;
    border-radius: 8px;
    padding: 0 0 16px;
    font-weight: 300;
    padding: 12px;
}

.remember-wrapper {
  display: flex;
}

.remember-wrapper label {
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.signup-link{
  margin: 1rem;
}

.signup-link a{
  text-decoration: none;
  color: #2c3e50;
}

.signup-link a:hover{
  border-bottom: 1px solid #2c3e50;
}

@media (max-width: 425px) {
  .login-content {
    width: 200px;
    padding: 1rem;
  }
  .sign-in-icon {
    font-size: 2rem;
  }
  .login-content h1 {
    font-size: 0.8rem;
  }
  .input-login-wrapper label {
    font-size: 0.7rem;
  }
  .input-login-wrapper input {
    padding: 2px;
    font-size: 0.7rem;
    border: 1px solid rgb(176, 172, 172);
  }
  .remember-wrapper label {
    font-size: 0.7rem;
  }
}
