.sign-in-button {
  width: 100%;
  display: block;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  border-radius: 10px;
  background-color: #00bc77;
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-decoration-color: white;
}
