.features-container {
  display: flex;
  flex-direction: row;
}

.feature-item {
  flex: 1;
  padding: 2.5rem;
}

.feature-icon {
  width: 100px;
  border: 10px solid var(--primary);
  border-radius: 50%;
  padding: 1rem;
}

.feature-item-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media (min-width: 920px) {
  .features-container {
    flex-direction: row;
  }
}
