.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.logo {
  max-width: 100%;
  width: 200px;
}

.login-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}
.sign-in-link {
  text-decoration: none;
  margin-right: 0.5rem;
}
